.App {
  text-align: center;
  border: 2px solid #0b0909;
  border-radius: 8px;
  padding: 4px;
  margin-top: 10%;
  margin-bottom: 10%;
}

.App {
  max-width: 600px;
  margin: 30px auto;
}

.App footer {
  font-size: 15px;
  margin: 20px 0;
}
